body {
  font-size: 0;
}

a {
  color: #0D47A1;
  text-decoration: underline;
}

#wrapper { 
  display: inline-block;
  height: 100vh;
  width: 49vw;
}

#editor { 
  display: none;
  height: 100vh;
  width: 49vw;
  font-size: 16px;
}

#tools {
  display: inline-block;
  width: 49vw;
  vertical-align: top;
}

#tools > div,
#tools > form {
  margin: 1.2em;
  font-size: 14px;
  font-family: monospace;
  color: black;
}

#tools > div > div,
#tools > form > div {
  margin: .3em 0;
}

.btn i.material-icons {
  font-size: 1.7em;
  width: 1em;
}

form label {
  font-size: 14px;
  color: black;
}

#accounts input + span {
  font-size: 14px;
}

#accounts div.radio,
#accounts pre {
  display: inline-block;
  margin: 0 0 0 1em;
}

#tools #node input[type=text] {
  width: 27em;
}

#tools input[type=text] {
  color: black;
  font-family: monospace;
  font-size: 14px;
  width: 25em;
  height: 1.6em;
  margin: .3em;
}

#interface form.card-panel {
  padding: 1em;
}

form.card-panel span,
#panel form.card-panel input {
  margin: 0 0 0 1em;
}

#interface form label {
  display: inline-block;
  width: 10em;
  text-align: right;
}

#bytecode,
#contract,
#interface {
  display: none;
}
